var format = function(text){
    // 把text中的\\n换成\n
    if(!text){
      return
    }
    var reg = getRegExp('\\\\n','g')
    console.log('reg', reg, text.replace(reg,'&nbsp;&nbsp;&nbsp;&nbsp;'));
    return text.replace(reg,'\n')
}

var limit = function(arr, len) {
    if(!arr || arr.length < len) {
        return arr
    }
    return arr.slice(0, len)
}

module.exports = {
    limit: limit,
    format: format
}